body{

    /* capital yung font or pailiitin */
    text-transform: capitalize;

    /* align ng text  center,justify, right, left */
    text-align: justify;

    /* size ng mga texts */
    font-size: 1.25em;

    /* yung pag ka kapal ng text */
    font-weight: 600;

    /* yung mga italic, bold, oblique */
    font-style: italic;
    
    font-family: sans-serif;
}
.link{

    /* removing the line in the link */
    text-decoration: none;
}